@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono:wght@300&display=swap');



body {
    background-image: url('https://cdn.pixabay.com/photo/2020/01/08/16/39/illustration-4750580_1280.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; /*iMAGEN ESTATICA*/
    background-size: cover; /* IMPORTANTE ES AQUELLA QUE ME DA TODA LA IMAGEN EN EL RANGO DE LA WEB */ 
    font-family: 'Roboto Mono', monospace;

}

#seleccionar-mascota {
    display: flex; /*LLAMO A EL ATRIBUTO FLEXBOX */
    justify-content: center;
    flex-direction: column;
    align-items: center; 

}

.titulo-principal {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 88px;
    color: rgb(34, 34, 33);
    width: 2000px; /* ANCHO */
    height: 120px; /* ALTO */
    /* background-color: #ffffff;  COLOR DE FONDO */
    margin: 15px;
}

.letra-elige-tu-mascota{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin: 25px;
}

.tarjetas {
    display: flex;
    gap: 50px;
}

.tarjeta-de-mokepon  {

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: 'Roboto Mono', monospace;

    width: 200px;
    height: 150px;
    background-color: rgb(247, 249, 251);

    padding: 10px;
    box-sizing: border-box;

    margin: 50px;
    border: 2px solid black;
    border-radius: 25px;
    color: black;
}

.tarjeta-de-mokepon img {
    width: 80px;
}

input {
    display: none;
}

input:checked + label{
    background-color: #F0ECCF;

    width: 200px;
    height: 150px;

    margin: 50px;
    border: 2px solid black;
    border-radius: 25px;
}

#boton-mascotas {

    text-align: center;
    font-family: 'Roboto Mono', monospace;
    height: 54px;
    width: 106px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    border-color: transparent;
    background-color: azure;

}

#seleccionar-ataque {
    display: flex; /* EN JAVA TENIA UN BLOCK , ESTE NOS BLOQUEABA EL USO DE FLEX , TUVIMOS QUE QUITARLO Y DARLE A CONOCER A EL FLEX , NO ES NECESARIO COLOCARLO YA QUE ESTA EN JS , PERO LO COLOCO PARA NO OLVIDARME */
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.btn-ataques {

    font-family: 'Oswald', sans-serif;
    text-align: center;
    height: 54px;
    width: 110px;
    margin: 50px 15px 10px 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    border-color: transparent;
    background-color: azure;
}

#mensajes { 

    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(6, 121, 125);
    border-radius: 20px;
}

#boton-reiniciar {

    font-family: 'Oswald', sans-serif;
    border: none;
    color: rgb(0, 7, 5);
    background-color: rgb(6, 121, 125);

   
}

.ataques {
    display: grid;
    grid-template-columns: 150px 150px;
    text-align: center;
    margin: 20px;
}

@media (max-width: 800px){
    .tarjetas{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;

        margin: 60px;
        height: 10px;
        width: 10px;
    }

    input:checked + label{
        background-color: #F0ECCF;
        width: 184px;
        height: 135px;
        margin: 26px 0px 0px 728px;
        border: 2px solid black;
        border-radius: 16px;
    }

    .tarjeta-de-mokepon  {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        width: 184px;
        height: 135px;
        background-color: rgb(247, 249, 251);
        padding: 10px;
        box-sizing: border-box;
        margin: 25px 0px 0px 728px;
        border: 2px solid black;
        border-radius: 16px;
        color: black;
    }

    .titulo-principal {
        font-size: 34px;
        display: flex;
        justify-content: center;
        margin: 5px 0px 0px 867px;
    }

    .letra-elige-tu-mascota{
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        margin: -19px 0px 0px 734px;
        font-size: 20px;

    }

    .letra-elige-tu-ataque{
        margin: -1px;

    }

    .botones-ataques{
        display: flex;
        flex-direction: column;
    }

    #boton-mascotas {
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        height: 54px;
        width: 106px;
        padding: 10px;
        margin: 367px 0px 0px 728px;
        box-sizing: border-box;
        border-radius: 30px;
        border-color: transparent;
        background-color: azure;
    }

    .btn-ataques {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    height: 41px;
    width: 67px;
    margin: 10px 15px 10px 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    border-color: transparent;
    background-color: azure;
    }

    #mensajes {
        font-family: 'Oswald', sans-serif;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        width: 289px;
        padding: 10px;
        box-sizing: border-box;
        background-color: rgb(6, 121, 125);
        border-radius: 20px;

    }
}

.ataques-jugador , .ataques-enemigo{
    font-family: 'Roboto Mono', monospace;
    color: rgb(2, 2, 0);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    height: 57px;
    width: 77px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    border-color: transparent;
    background-color: azure;
}


@media (max-width: 800px){
#ver-mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

}





